/* ---------------------GLOBAL------------- */

.FieldInfo {
  color: rgb(251, 174, 44);
  font-family: Bitter, Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
.CommentBlock {
  background-color: #eff0df;
}

/* ---------x------------GLOBAL-------x------ */
/*  */
