body {
  background-color: red;
}

/* ---------------------GLOBAL------------- */
.field {
  color: rgb(251, 174, 44);
  font-family: Bitter, Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
/* ---------x------------GLOBAL-------x------ */
